{% extends 'base.html' %}

{% block content %}
<table class="table table-success table-striped table-hover">
<th>chanid</th><th>name</th><th>data1</th><th>data2</th>
<tr><td>123213123</td><td>abgefahrenes namenswortspiel</td><td><form>
    <div class="form-group">
      <label for="formControlRange">Example Range input</label>
      <input type="range" class="form-control-range" id="formControlRange">
    </div>
  </form></td><td>123scwe</td></tr>
<tr><td>123213123</td><td>abgefahrenes namenswortspiel</td><td>123</td><td>123scwe</td></tr>
<tr><td>123213123</td><td>abgefahrenes namenswortspiel</td><td>123</td><td>123scwe</td></tr>
<tr><td>123213123</td><td>abgefahrenes namenswortspiel</td><td>123</td><td>123scwe</td></tr>
<tr><td>123213123</td><td>abgefahrenes namenswortspiel</td><td>123</td><td>123scwe</td></tr>
</table>
{% endblock %}